.box_x {
	width:90vh;
	height: 100px;
	border:2px solid #000000;
}

.box_y {
	width:100px;
	height: 90vh;
	border:2px solid #000000;
}

.box_sq {
	width:500px;
	height:500px;
	border:2px solid #000000;
}

.box_large {
	width:100vh;
	height:100vh
}