.STR_HEADER div {
	padding-top:2px;
	padding-bottom:2px;
	background-color: white;
}

.STR_HEADER h1 {
	font-size:18px;
	background-color: chocolate;
	padding-top:2px;
	padding-bottom:2px;
	margin-left: 8px;
	margin-right: 8px;
}

.STR_HOVER h1 {
	font-size:15px; 
	background-color:gray; 
	position:absolute; 
	padding:3px; 
	border-radius:2px
}

.STR_INPUT div {
	display:flex; 
	flex-direction:row; 
	margin-left:2px;
	margin-right:2px;
	background-color:gray;
}

.STR_INPUT input {
	width:90px;
	height:100%;
	display:inline;
	margin:2px;
	font-size:30px;
}

.STR h1 {
	font-size:15px; 
	margin-left:5px; 
	margin-right:5px;
}