.str_header {
	font-size:18px;
	padding-left:8px; 
	padding-right:8px; 
	margin:3px;
	background-color: #AAAAAA;
}

.str {
	font-size:15px; 
	padding-left:5px; 
	padding-right:5px; 
}

.str_taps {
	margin:2px;
	display:flex;
	align-items: center;
}

.str_taps .spore {
	justify-content:space-evenly;
}

.str_taps .browser {
	justify-content:flex-start;
}

.cell_taps {
	margin:2px;
	display:grid;
}

.cell_taps .rgb_palette {
	gap:5px
}

.cell_taps .canvas {
	gap:0px
}
